@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    src: url("/AustieBostKittenKlub.ttf");
    font-family: "Austie Bost Kitten Klub";
}

body {
    @apply bg-amber-50;
}

h1, h2, h3 {
    font-family: "Austie Bost Kitten Klub";
}

p {
    @apply text-xl;
}
